/*my ads start*/
:root {
    --color1: #487792;
    --color2: #37577A;
}

.container-heading.service-form {
    position: absolute;
    width: 265px;
    height: 58px;
    border-bottom: 3px solid #37577A;
    line-height: 50px;
    /* background: gray; */
    overflow: hidden !important;
    /* /* margin-top: -15%; */
}

.container.my-cont {
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 50px 30px 50px 30px;
}

.img-wh {
    height: 22vh !important;
    /* width: 100%; */
    width: auto !important;
    overflow: hidden;
}

.price {
    color: var(--color1);
    margin-left: -3%;
    font-weight: 700 !important;
    margin-top: 15px;
    font-weight: 500;
    font-size: 17px !important;
}

.status {
    text-align: right;
    margin-top: 5%;
}

.prd-name {
    margin-top: 3px;
    font-weight: 500;
    font-size: 13px;
    color: var(--color1);
}

.adrs {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.521);
}

/* a.buy-bttn {
    background: linear-gradient(var(--color1), var(--color2)) !important;
    color: white;
    padding: 9px 21px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none !important;
} */

.delete {
    z-index: 1 !important;
    margin-top: 3%;
}

.dl {
    /* margin-left: -100%; */
    padding: 1rem;
    width: 50%;
}

.dl:hover {
    /* margin-left: -100%; */
    width: 50%;
    background-color: #345376;
    padding: .5rem .7rem;
    color: white;
    border-radius: 50%;
    transition: all 400ms ease-out;
}

.date {
    font-size: 13px;
    margin-left: 2%;
    color: rgba(0, 0, 0, 0.521);
}

/*my ads end*/

.adrs {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.521);
    text-transform: capitalize;
    /* margin-left: -70%; */
    /* margin-right: 190px; */
}

.adrs1 {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.521);
    text-transform: capitalize;
    /* margin-left: -70%; */
    /* margin-right: 190px; */
}

.contain-adrs {
    display: flex;
    justify-content: space-between;
}

/*seller profile*/

.heading-box {
    box-shadow: 1px 1px 10px #8080807a;
    height: 17vh;
    width: 80%;
    margin: 1rem 1rem 1rem 8.3rem
}

.heading-boxSeller {
    box-shadow: 1px 1px 10px #8080807a;
    height: 18vh;
    /* width: 80%; */
    margin: 2rem 2rem 1rem 2rem
}

.text-end {
    text-align: right !important;
}

.image-box {
    position: relative;
    width: 100px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
    outline: none;
    border: none;
    /* border: 1px solid red;
    border-radius: 100%; */
}

.second-box {
    /* box-shadow: 1px 1px 10px #8080807a; */
    /* height: 58vh; */
    /* width: 90%; */
    /* margin: 1rem; */
    overflow: auto;
}

.box2 {
    width: 100%;
    margin-top: 5%;
    padding: 0px 24px;
}

.heading-text {
    justify-content: space-between;
    margin-top: 4%;
}

.subcribe-button {
    background-color: #365679;
    border-radius: 5%;
    border: none;
    padding: 6px 30px 6px;
    margin-top: -1%;
    color: white;
    margin-right: 6%;
}

.report-button {
    margin-left: 8%;
    color: #4C8AAF;
    color: #4C8AAF;
    justify-content: space-around;
    /* margin-top: -2%; */
    margin-bottom: 6%;
}

.subscribe-color {
    font-size: 20px;
}

.report-Image {
    padding: 8px 4px 6px 8px;
    margin-left: -20%;
}

.mob-view {
    display: none;
}

.report-message {
    font-size: 10px;
    color: red;
    /* padding: 12px; */
    margin-top: -3%;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.report-text {
    font-size: 10px;
    background-color: transparent !important;
    border: none;
    color: #026590;

}

.ads-head {
    color: #345376;
    font-size: 22px;
    padding: 5px 20px;
}


.sellerButton {
    background: linear-gradient(var(--color1), var(--color2));
    padding: 6px 18px;
    border: none;
    border-radius: 4%;
    font-weight: 400 !important;
    color: white;
}

/* seller profile end */
/* single Products */
.setMarginDiv {
    position: relative;
    left: 10%;
    margin: 0rem 0rem 1rem;
}

.ChatBtnProduct {
    height: 100%;
    display: flex;
    align-items: center;
}

.setMarginDiv button {
    background: linear-gradient(var(--color1), var(--color2));
    padding: .8rem 2rem;
    border: none;
    border-radius: 50px;
    font-weight: 400 !important;
    color: white;
}

.ChatBtnProduct button {
    background: linear-gradient(var(--color1), var(--color2));
    padding: .8rem 2rem;
    border: none;
    border-radius: 50px;
    font-weight: 400 !important;
    color: white;
    margin-top: 15px;
}

.setMarginDiv button:hover {
    background: linear-gradient(var(--color1), var(--color2));
    opacity: .9;
    padding: .8rem 2rem;
    border: none;
    border-radius: 50px;
    font-weight: 400 !important;
    color: white;
}

.KeyBox {
    display: flex;
    align-items: center;
    padding: .3rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
    border-radius: 10px;
}

.KeyBox1 {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
    border-radius: 10px;
}

.KeyBox:first-child {
    border-top: 1px solid rgba(128, 128, 128, 0.185);
}

.setKeys {
    color: rgba(0, 0, 0, 0.829);
    margin: 0;
}

.setKeysVal {
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.829);
}

.setKeysVal button {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.829);
}

/* single Products end*/
/* 5 dec */

.buy-bttn {
    background: linear-gradient(var(--color1), var(--color2)) !important;
    color: white;
    padding: 3px 8px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    /* font-size: 16px; */
    font-family: 'Poppins';
    /* font-weight: 800; */
    letter-spacing: 2px;
    text-decoration: none !important;
}

.FooterLink {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: -5%;
}

.LinkClass1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 42px 0 -24px; */
}

.des-footer {
    justify-content: center;
}

.footerLink {
    color: #fff;
    text-decoration: none;
}


li.footerLink::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background-color: #fff;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.footerLink:hover {
    transition: 0.5s;
    font-size: 17px;
    border-bottom: 1px solid var(--color2) !important;
    color: #fff;
}

/* ul li a:hover {
    color: #95a5a6;
  } */
li.footerLink:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.MenuClass {
    margin-left: 3%;
}

.gettouch {
    margin-top: 5%;
}

.btnSell {
    display: none;
}

.FooterLink:hover {
    color: #fff;
}

.radio-button1 input[type="radio"] {
    display: none;
}

.ImagecontainerBorder {
    width: 9vw;
    height: 17vh;
    border-color: grey;
    border-radius: 3vh;
    border: 1px solid grey;
}

.imagePreviewContainer {
    height: 16vh;
    width: 8vw;
    border-Color: black;
    border: 3px solid grey;
    border-Radius: 3vh;
}

.imageafterCrop {
    height: 15vh;
    width: 100%;
    border-Radius: 16%;
    margin-Top: -0%;
}

.profileSmall {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 50px;
    margin-right: .7rem;
}

.profileSmall img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
}

/* chat start */
.chatheading {
    font-size: 25px;
    color: #37577A;
    margin-top: 2%;
}

.sellerBuyer {
    background-color: #EBEBEB;
    /* padding: 4% 0%; */
    width: 86%;
    margin-left: 6%;
    border-radius: 15px;
    /* align-items: center; */
    /* text-align: center; */
}

.sellerdiv {
    all: unset;
    /* background-color: blue; */
    width: 33%;
    padding: 1% 10%;
    height: 6vh;
    border: none;
    border-radius: 15px;
    margin-left: -2%;
}

.seller {
    border: none;
    background-color: transparent;
    margin: 8% 23%;
    color: white;
}

.buyer {
    border: none;
    background-color: transparent;
    margin: 8% 23%;
}

.mobViewChat {
    display: none;
}

.userImage {
    width: 5%;
    height: 10%;
    border-radius: 50%;
}


.ChkraSpin {
    height: 20px !important;
    width: 20px !important;
    margin-right: 14px;
}

.EnterMesaage {
    border: transparent;
    border-radius: 17px;
    margin-left: 2%;
}

input.EnterMesaage {
    /* background-color: white;
    border: none; */
    outline: none;
    /* height: 20px; */
}

.demomessage {
    align-self: center;
    margin-left: 25%;
}

.tabChatHead {
    border: none;
    text-transform: capitalize;
    background-color: transparent;
    /* margin: 12% 23%; */
}

.chatImage {
    width: 17vw;
    height: 20vh;
    border-radius: 12px;
    /* margin: -1px -5px; */
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .mobViewChat {
        display: block;
    }

    .deskChat {
        display: none;
    }

    .userImage {
        width: 18%;
        height: 10%;
    }

    .buyer {
        border: none;
        background-color: transparent;
        margin: 12% 23%;
    }

    .seller {
        border: none;
        background-color: transparent;
        margin: 12% 23%;
    }

    /* chat end */
    .ImagecontainerBorder {
        width: 31vw;
        height: 16vh;
        border-color: grey;
        border-radius: 3vh;
        border: 1px solid grey;
    }

    .imagePreviewContainer {
        height: 16vh;
        width: 32vw;
        border-Color: black;
        border: 3px solid grey;
        border-Radius: 3vh;
    }

    .setMarginDiv {
        left: 3%;
    }

    /*my ads start*/
    .container-heading.service-form {
        position: absolute;
        width: 170px;
        height: 48px;
        border-bottom: 3px solid #37577A;
        line-height: 50px;
        /* background: gray; */
        overflow: hidden !important;
        /* /* margin-top: -15%; */
    }

    .container-heading.service-form span:before {
        position: absolute;
        content: "";
        width: 80%;
        /*height: 8%;*/
        height: 100%;
        background: linear-gradient(var(--color1), var(--color2)) !important;
        z-index: -1;
        transform: rotate(45deg);
    }

    .container.my-cont {
        margin-bottom: 100px;
        margin-top: 35px;
        padding: 50px 9px 50px 20px !important;
        width: 100%;
    }

    .dl {
        padding: 0;
        margin-left: -30%;
    }

    .dl:hover {

        /* margin-left: -100%; */
        width: 100%;
        background-color: transparent;
        padding: 0;
        color: black;
        /* font-size: 0.4rem; */
        border-radius: 50%;
        transition: all 400ms ease-out;

    }

    .delete {
        margin-top: 8%;
        display: flex;
        justify-content: center;
    }

    .date {
        font-size: 10px;
        margin-left: -2%;
    }

    .prd-name {
        margin-top: 3px;
        font-weight: 500;
        font-size: 12px !important;
        color: var(--color1);
    }

    a.buy-bttn {
        background: #0999D5;
        color: white;
        padding: 9px 7px;
        border-radius: 3px;
        font-size: 9px;
        font-family: 'Poppins';
        font-weight: 800;
        letter-spacing: 2px;
        margin-left: -3%;
    }

    .img-wh {
        height: 100px !important;
        /* width: 100%; */
        width: auto !important;
        overflow: hidden;
    }

    .price {
        color: var(--color1);
        font-size: 15px !important;
        margin-left: -3%;
        margin-top: 0 !important;
        font-weight: 600;
    }

    .status {
        display: flex;
        text-align: right;
        margin-top: 0%;
        align-items: center;
    }



    /*my ads end*/

    .contain-adrs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .adrs {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.521);
        text-transform: capitalize;
        /* margin-left: 10%; */
        /* margin-right: 190px; */
    }

    .adrs1 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.521);
        text-transform: capitalize;
    }

    /*seller Proifle start*/
    .desk-view {
        display: none;
    }

    .heading-box {
        box-shadow: 1px 1px 10px #8080807a;
        height: auto !important;
        width: 95%;
        margin: 1rem 1rem 1rem 0.6rem;
    }

    .second-box {
        box-shadow: 1px 1px 10px #8080807a;
        height: 58vh;
        width: 95%;
        margin: 1rem 1rem 1rem 0.6rem;
        overflow: auto;
    }

    .image-box {
        position: relative;
        border-radius: 50%;
        border: 1px solid;
        display: flex;
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin-left: 5%;
    }

    .text-end1 {
        text-align: left !important;
        margin-top: 5%;
    }

    .mob-view {
        display: block;
    }

    .heading-text1 {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 8%;
    }

    .report-Image {
        padding: 2px;
        /* margin-left: -5%; */
        width: 10px !important;
        height: 10px !important;
    }

    .report-text1 {
        font-size: 9px;
        margin-left: 5%;
        /* font-size: 22px; */
        background-color: transparent !important;
        border: none;
        color: #026590;
    }

    .subscribe-button1 {
        background-color: #365679;
        border-radius: 5%;
        border: none;
        padding: 3px 20px 3px;
        margin-top: -1%;
        color: white;
        margin-left: 4%;
        width: 34vw;
        /* margin-right: 6%; */
    }

    .report-button1 {
        /* margin-left: 18%; */
        color: #4C8AAF;
        margin-top: -2%;
        margin-bottom: 6%;
    }

    .report-message {
        font-size: 10px;
        color: red;
        padding: 12px;
        margin-top: 3%;
        justify-content: center;
        text-align: center;
    }

    .subscribe-color1 {
        font-size: 13px;
        padding-bottom: 0px;
    }

    .box3 {
        width: 100%;
        margin-top: 15%;
        padding: 0px 24px;
    }

    .ads-head {
        color: #345376;
        font-size: 17px;
        padding: 0px;
    }

    .sellerButton {
        background-color: green;
        border: none;
        border-radius: 4%;
        padding: 3px 12px;
        color: white;
    }

    .adrs {
        font-size: 9px !important;
        color: rgba(0, 0, 0, 0.521);
        text-transform: capitalize;
        /* margin-left: -60%; */
        margin-left: -5%;
        /* margin-right: 190px; */
    }

    .adrs1 {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.521);
        text-transform: capitalize;
        /* margin-left: -70%; */
        /* margin-right: 190px; */
    }

    /*seller Proifle end*/

}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .contain-adrs {
        display: flex;
        flex-direction: column;
    }

    .mobile-Categoryslider {
        display: block;
    }

    .desk-category {
        display: none;
    }

    .sliderClass {
        border-radius: 80%;
        height: 5vh;
        padding: 0px 20px;
    }

    .category-slide {
        text-align: center;
    }

    .footerlogo {
        text-align: center;
        margin-left: 10%;
    }

    .footer-logo {
        width: 50%;
        /* text-align: center; */
    }

    ul.submenuu {
        display: none;
    }

    .mob-headContainer {
        display: block;
        padding: 0;

    }

    ul.submenuu1 {
        /* margin-top: 10%; */
        margin-left: -44%;
    }

    ul.submenuu1 li {
        display: block;
        text-align: center;
        padding-left: 0px !important;
    }

    ul.submenuu1 li a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        /* padding: 10px 5px; */
    }

    ul.sub-head {
        text-align: center;
        padding-left: 0 !important;
        line-height: 35px;
    }

    .col-md-6.col-12.mobcopy {
        text-align: center;
    }

    .footer {
        padding: 10px 50px 30px 10px;
        height: 100%;
        overflow: hidden;
    }

    .mob-sub {
        width: 70%;
    }

    .subhead1 {
        text-align: center;
        padding-top: 15px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    .subhead2 {
        padding-bottom: 3px;
        /* padding-top: 15px; */
        text-align: center;
        color: white;
        font-size: 10px;
        font-weight: 600;
        width: 50%;
        /* margin-left: 25%; */
    }

    .footer-mob {
        margin: 0 68px 0;
        /* gap: 30%; */
    }

    .pp1 {
        display: block;
        text-align: left;
        /* margin-left: -40%; */
    }

    .pp1 p {
        font-size: .8rem;
    }

    .pp1 p:first-child {
        font-size: .8rem;
    }

    .pp {
        display: none;
    }

    .subhead {
        display: none;
    }

    .social1 {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        /* width: 50%; */
        /* margin-left: 25%; */
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .social1 img {
        width: 38px !important;
        /* line-height: 18px; */
        padding-top: 11px;
        padding-right: 10px
    }

    .social {
        display: none;
    }

    .mob-version.search-box {
        display: block !important;
    }

    .mob-version-footer {
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;

    }

    input#search {
        text-align: center;
        height: 35px;
        width: 95vw;
        border: 1px solid #7b7b7b;
        border-radius: 1.5em;
        margin-bottom: 5px;
        margin-left: 5%;
    }

    #search::placeholder {
        color: #c3bebe;
        /* margin-right: 45px; */
    }

    .mob-search {
        display: flex;
        align-items: center;
        /* left: 10%; */
        justify-content: center;
        position: relative;
    }

    .desk-version {
        display: none;
    }

    svg.SearchBtn {
        font-size: 1.3rem;
        margin-left: -2rem;
        color: var(--color1);
        margin-bottom: 5px;

    }

    .search-iconm {
        content: "\f002";
        bottom: 5%;
        right: 32px;
        z-index: 999;
        position: relative;
        color: #c3bebe;
    }

    .inline-menu1 {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-direction: column;
        background: white;
    }

    .extraSpace {
        height: 8vh !important;
    }

    /* .setHeart{
        padding: 0 !important;
    } */
    .inline-menu {
        display: none;
    }

    .col-12.mobileversion {
        color: #0999D5;
        background: #ffffff;
        position: fixed;
        /* display: block; */
        top: 93%;
        box-shadow: 1px 1px 8px #026590;
        padding: 10px 34px;
        /* left: 35%; */
        border-radius: 2rem;
        z-index: 100;
        width: 15%;
        margin-left: 23rem;
        transition: opacity .4s ease-in-out;
        -moz-transition: opacity .4s ease-in-out;
        -webkit-transition: opacity .4s ease-in-out;
    }

    .btnSell {
        background-color: white;
        border: none;
        text-align: center;
        align-self: center;
        color: #37577A;
    }

    .rec-dot_active {
        background-color: grey !important;
        box-shadow: none !important;
        height: 8px !important;
        width: 40px !important;
        border-radius: 23% !important;
    }

    /* packages css start */
    #setMargin1 {
        width: 90% !important;
        height: 30vh !important;
        margin-left: 4%;
    }

    #setMargin2 {
        width: 90% !important;
        height: 30vh !important;
        margin-left: 4%;
    }

    /* packages css end */

    .mob-filter {
        margin: -2rem 17rem;
    }

    .about-main-text {
        display: flex;
        align-items: center;
        margin: 100px 0px;
        font-weight: 500;
        /* font-size: 17px; */
        flex-direction: column;
    }

    .accordian-img-about-us {
        height: 100%;
        width: 90vw;
    }

    .about-main-text-block {
        margin-right: 0%;
    }

    .container-heading-contact span {
        font-size: 25px;
        color: whitesmoke;
        background: linear-gradient(var(--color1), var(--color2)) !important;
        background: #37577A !important;
        display: inline-block;
        padding: 8px 0px 10px 9px;
        text-transform: uppercase;
    }

    .container-heading-contact {
        position: absolute;
        width: 345px;
        height: 60px;
        border-bottom: 3px solid #37577A;

        line-height: 50px;
        top: 0;
        /* background: gray; */
        overflow: hidden !important;
    }

    #gmap_canvas {
        width: 100%;
        /* height: 100%; */
    }

    .get-in-touch {
        position: relative;
        left: 0%;
        top: 5%;
        margin-left: 8%;
    }

    .col-md-4.about-tabs {
        margin: 30px 36px;
        width: 90%;
    }

    .rec-rec-carousel {
        width: 80% !important;
    }

    .tab {
        /* width: 100% !important; */
    }

    .footer-mob {
        margin: 0 68px 0;
        justify-content: space-between;
        width: 100%;
    }

    .maindiv {
        height: auto;
    }

    .pdt-img {
        border-radius: 5px;
        width: 100% !important;
        height: 100%;
        margin-bottom: 10px;
    }

    .img-wh {
        height: 13vh !important;
    }

    .maindiv-ads {
        margin-top: 5%;
        /* height: 30vh; */
        /* width: 230px; */
        box-shadow: 0 1px 5px 5px rgb(235 234 234);
        border-radius: 10px;
    }

    .container-heading.package-form {
        position: absolute;
        width: 366px;
        height: 55px;
        border-bottom: 3px solid #37577A;
        line-height: 45px;
        overflow: hidden !important;

    }

    .dobClass {
        text-align: left !important;
    }

    .for-center-faq {
        width: 100%;
        display: flex;
        /* justify-content: space-around; */
        margin: 60px 0px 130px 0px !important;
    }

    .container.faq-container {
        margin-bottom: 50px;
    }

    .tabChatHead {
        font-size: 13px;
    }
}