.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-heading-Automibile {
  position: absolute;
  width: 700px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-Automibile span {
  font-size: 30px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 20px 10px 25px;
  text-transform: uppercase;
}

.container-heading-Automibile span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}
.container-heading-savedItem {
  position: absolute;
  width: 440px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-savedItem span {
  font-size: 30px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 20px 10px 25px;
  text-transform: uppercase;
}

.container-heading-savedItem span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}

.container-heading-pr {
  position: absolute;
  width: 630px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-pr span {
  font-size: 30px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 20px 10px 25px;
  text-transform: uppercase;
}

.container-heading-pr span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}

.container-heading-shop {
  position: absolute;
  width: 550px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-shop span {
  font-size: 30px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 20px 10px 25px;
  text-transform: uppercase;
}

.container-heading-shop span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}
/* SEARCH PAGE */
.container-heading-homeSearch {
  position: absolute;
  width: 620px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-homeSearch span {
  font-size: 30px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 20px 10px 25px;
  text-transform: uppercase;
}

.container-heading-homeSearch span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}
/* Realed products */
.container-heading-related-blog {
  position: absolute;
  width: 500px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-related-blog span {
  font-size: 30px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 20px 10px 25px;
  text-transform: uppercase;
}

.container-heading-related-blog span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}
/* Realed products */
.container-heading-related {
  position: absolute;
  width: 620px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-related span {
  font-size: 30px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 20px 10px 25px;
  text-transform: uppercase;
}

.container-heading-related span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}

button#dropdownMenuButton1 {
  color: #fff;
  background-color: #5c636a00;
  border-color: #565e6400 !important;
  border: none;
  outline: none;
  padding: 0%;
  text-align: left !important;
  margin-left: 12px;
  /* width: 148%; */
}

.dropdown.setDrop {
  box-shadow: none !important;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.filter_bt {
  margin: 1rem 0 -2rem 0;
  float: end;
}

.dropdown-menu.SetHover li :hover {
  background-color: #37577A !important;
  color: white !important;
  padding-left: 20px;
  zoom: 110%;
  transition: all 400ms ease;
 
} 
.dropdown-menu.SetHover li  {
  margin-top : 0.4rem;
  position: relative;
  color: rgb(0, 0, 0) !important;
}
.priceFilter{
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  padding-left: 10%;

}
.setHeart{
  display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.mob-version{
  display: none !important;
}
.setMobBox{
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.397);
  /* padding-bottom: 10px; */
  /* background-color: white; */
  position: relative;
  top: 113px;
}
@media screen and (max-width: 600px) {
  .container-heading-savedItem {
    position: absolute;
    width: 230px;
    height: 60px;
    border-bottom: 3px solid #37577A;
    /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
    line-height: 50px;
    /* background: gray; */
    overflow: hidden !important;
  }
  
  .container-heading-savedItem span {
    font-size: 16px;
    color: whitesmoke;
    background: linear-gradient(var(--color1), var(--color2)) !important;
    display: inline-block;
    padding: 8px 20px 10px 25px;
    text-transform: uppercase;
  }
  
  .container-heading-savedItem span:before {
    position: absolute;
    content: "";
    width: 100%;
    /* height: 8%; */
    height: 100%;
    background: linear-gradient(var(--color1), var(--color2)) !important;
    z-index: -1;
    transform: rotate(45deg);
  }
  
  .seller-name1 h4 {
    font-size: 1.1rem !important;
}
  /* Realed products */
.container-heading-related {
  position: absolute;
  width: 336px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-related span {
  font-size: 16px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 0px 10px 15px;
  text-transform: uppercase;
}

.container-heading-related span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}

  /* // end  */
  /* Realed blog */
.container-heading-related-blog {
  position: absolute;
  width: 250px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-related-blog span {
  font-size: 16px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 0px 10px 15px;
  text-transform: uppercase;
}

.container-heading-related-blog span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}
/* </React.StrictMode> */
  /* // end  */
.container-heading-pr {
  margin-left: -19px;
  position: absolute;
  width: 310px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-pr span {
  font-size: 15px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 10px 10px 13px;
  text-transform: uppercase;
}

.container-heading-pr span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}

  .setHeart{
    padding-left: 0;
    margin: 0 !important;
  }
  .mob-version{
    display: block !important;
  }
  #mob_head{
    margin: 50px 0px 130px 0px !important;
  }
  .container-heading-Automibile span {
    font-size: 16px;
    color: whitesmoke;
    background: linear-gradient(var(--color1), var(--color2)) !important;
    display: inline-block;
    padding: 6px 4px 2px 12px;
    text-transform: uppercase;
}
.container-heading-Automibile{
  width: 345px;
}
  .container-heading-shop span {
    font-size: 16px;
    color: whitesmoke;
    background: linear-gradient(var(--color1), var(--color2)) !important;
    display: inline-block;
    padding: 6px 4px 2px 12px;
    text-transform: uppercase;
}
.container-heading-shop{
  width: 280px;
}
/* SEARCH PAGE */
.container-heading-homeSearch {
  position: absolute;
  width: 340px;
  height: 60px;
  border-bottom: 3px solid #37577A;
  /* background: linear-gradient(var(--color1) , var(--color2)) !important; */
  line-height: 50px;
  /* background: gray; */
  overflow: hidden !important;
}

.container-heading-homeSearch span {
  font-size: 17px;
  color: whitesmoke;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  display: inline-block;
  padding: 8px 5px 10px 11px;
  text-transform: uppercase;
}

.container-heading-homeSearch span:before {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 8%; */
  height: 100%;
  background: linear-gradient(var(--color1), var(--color2)) !important;
  z-index: -1;
  transform: rotate(45deg);
}
}