:root {
    /* --primary-color: #0999D5; */
    --secondary-color: #ffffff;
}

/* .form-button .ibtn {
    color: black !important;
    font-size: 1rem !important;
    font-weight: bold !important;
} */



input.form-control.error-input {
    background: #0999D5;
}